<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 0;
        }

        h1, h2 {
            color: #007bff;
            font-weight: bold;
            margin-bottom: 20px;
        }

        h1 {
            font-size: 36px;
        }

        h2 {
            font-size: 30px;
        }

        p {
            color: #6c757d;
            font-size: 18px;
            margin-bottom: 20px;
        }

        .card {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 15px;
            margin-bottom: 15px;
            background-color: #fff;
        }

        .card h3 {
            margin-top: 0;
        }

        .card p {
            margin-bottom: 5px;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }

    </style>
</head>
<body>
<div th:replace="@{~/navbar.html}"></div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Deals with Complaints</h1>
            <div class="row">
                <!-- Loop through deals with status 'COMPLAINT' -->
                <div th:each="deal : ${dealsWithComplaint}" class="col-md-12">
                    <div class="card">
                        <h3 th:text="${deal.name}"></h3>
                        <p>Seller: <span th:text="${deal.seller.name}"></span></p>
                        <p>Buyer: <span th:text="${deal.buyer.name}"></span></p>
                        <p>Amount: $<span th:text="${deal.amount}"></span></p>
                        <p>Status: <span th:text="${deal.status}"></span></p>
                        <p>Date Created: <span th:text="${#dates.format(deal.dateCreated, 'dd-MM-yyyy HH:mm:ss')}"></span></p>
                        <p>Description: <span th:text="${deal.description}"></span></p>
                        <a th:href="@{'/admin/view-deal-for-admin/' + ${deal.dealId}}" class="btn btn-primary">View Deal</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h2>Suspicious Users</h2>
            <div class="row">
                <div th:each="user : ${suspiciousUsers}" class="col-md-12">
                    <div class="card">
                        <h3 th:text="${user.name}"></h3>
                        <p>Email: <span th:text="${user.email}"></span></p>
                        <p>User rating: <span th:text="${user.getUserStatistics().getAverageUserRating()}"></span></p>
                        <p>Phone number: <scan th:text="${user.getPhoneNumber()}"></scan></p>
                        <a th:href="@{'/admin/suspicion-user/' + ${user.getUser_id()}}" class="btn btn-primary">View User</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
