<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Information</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 0;
        }

        .user-info-container {
            margin-top: 20px;
        }

        .user-info-container h1 {
            color: #007bff;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .user-details {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }

        .user-details p {
            color: #6c757d;
            font-size: 18px;
            margin-bottom: 10px;
            width: 45%; /* Set the width of each p element */
        }

        .user-details span {
            font-weight: bold;
        }

        .button-container {
            display: flex;
            gap: 10px;
        }

        .ratings, .reviews, .deals {
            margin-top: 20px;
            padding: 15px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .ratings h3, .reviews h2, .deals h2 {
            margin-top: 0;
            color: #333;
        }

        .rating-item {
            font-size: 18px;
            color: #333;
            margin-bottom: 10px;
        }

        .rating-item span {
            color: #007bff;
            font-weight: bold;
        }

        .review, .deal {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 15px;
            margin-bottom: 15px;
            background-color: #fff;
            position: relative;
        }

        .review h4, .deal h4 {
            margin-top: 0;
            color: #007bff;
            font-weight: bold;
        }

        .review .review-author, .review .review-author-rating, .review .review-system-rating, .review .review-rating, .review .review-date {
            font-size: 16px;
            color: #333;
        }

        .review .review-author {
            font-weight: bold;
            color: #007bff;
        }

        .review .review-message {
            font-style: italic;
            color: #6c757d;
        }

        .review .review-author-rating, .review .review-system-rating {
            color: #ffc107;
            font-weight: bold;
        }

        .review .review-rating {
            position: absolute;
            top: 15px;
            right: 15px;
            font-size: 16px;
            color: #333;
            display: flex;
            align-items: center;
        }

        .review .review-date {
            font-size: 14px;
            color: #6c757d;
        }

        .star-rating {
            color: #ffc107;
            margin-left: 5px;
        }

        .deal p {
            font-size: 16px;
            color: #333;
        }

        .deal .deal-date {
            font-size: 14px;
            color: #6c757d;
        }
    </style>
</head>
<body>
<div th:replace="@{~/navbar.html}"></div>
<div class="container user-info-container">
    <h1>User Information</h1>
    <div class="user-details">
        <p><span>First Name:</span> <span th:text="${user.getName()}"></span></p>
        <p><span>Last Name:</span> <span th:text="${user.getLastName()}"></span></p>
        <p><span>Email:</span> <span th:text="${user.getEmail()}"></span></p>
        <p><span>Phone Number:</span> <span th:text="${user.getPhoneNumber()}"></span></p>
        <p><span>Successful Deals:</span> <span th:text="${user.getUserStatistics().getSuccessfulDeals()}"></span></p>
        <p><span>Total Deals:</span> <span th:text="${user.getUserStatistics().getTotalDeals()}"></span></p>
        <p><span>Total Feedbacks:</span> <span th:text="${user.getUserStatistics().getTotalFeedbacks()}"></span></p>
        <p><span>Registration Date:</span> <span th:text="${#dates.format(user.getRegistrationDate(), 'dd-MM-yyyy')}"></span></p>
    </div>
    <div class="button-container">
        <form method="post" th:action="@{/admin/suspicion-user/{userId}/ban(userId=${user.getUser_id()})}">
            <button class="btn btn-danger" type="submit">Ban</button>
        </form>
        <form method="post" th:action="@{/admin/suspicion-user/{userId}/remove-suspicion(userId=${user.getUser_id()})}">
            <button class="btn btn-secondary" type="submit">Remove suspicion</button>
        </form>
    </div>
    <div class="ratings">
        <h3>User Ratings</h3>
        <div class="rating-item">
            <span>Average User Rating:</span> <span th:text="${user.getUserStatistics().getAverageUserRating()} + ' out of 5'"></span>
        </div>
        <div class="rating-item">
            <span>System Rating:</span> <span th:text="${user.getUserStatistics().getSystemRating()} + ' out of 100'"></span>
        </div>
    </div>

    <div class="reviews">
        <h2>Reviews</h2>
        <div th:each="review : ${reviews}" class="review">
            <h4 th:text="${review.getDeal().getName()}">Review Title</h4>
            <div class="review-author">
                <span>From:</span> <span th:text="${review.getFromUser().getName()} + ' ' + ${review.getFromUser().getLastName()}"></span>
                <span class="review-author-rating">
                    <span>User Rating:</span> <span th:text="${review.getFromUser().getUserStatistics().getAverageUserRating()}"></span>
                </span>
                <span class="review-system-rating">
                    <span>System Rating:</span> <span th:text="${review.getFromUser().getUserStatistics().getSystemRating()}"></span>
                </span>
            </div>
            <p class="review-message">
                <span>Message:</span> <span th:text="${review.getMessage()}"></span>
            </p>
            <div class="review-rating">
                <span>Rating:</span>
                <div class="star-rating">
                    <i class="fas fa-star" th:each="i : ${#numbers.sequence(1, review.getRating())}"></i>
                </div>
            </div>
            <p class="review-date">
                <span>Date:</span> <span th:text="${#dates.format(review.getDateCreated(), 'dd-MM-yyyy')}"></span>
            </p>
        </div>
    </div>

    <div class="deals">
        <h2>User's Deals</h2>
        <div th:each="deal : ${deals}" class="deal">
            <h4 th:text="${deal.getName()}">Deal Title</h4>
            <p><span>Seller:</span> <span th:text="${deal.getSeller().getName()} + ' ' + ${deal.getSeller().getLastName()}"></span></p>
            <p><span>Buyer:</span> <span th:text="${deal.getBuyer().getName()} + ' ' + ${deal.getBuyer().getLastName()}"></span></p>
            <p><span>Amount:</span> $<span th:text="${deal.getAmount()}"></span></p>
            <p><span>Status:</span> <span th:text="${deal.getStatus()}"></span></p>
            <p><span>Description:</span> <span th:text="${deal.getDescription()}"></span></p>
            <p class="deal-date">
                <span>Date Created:</span> <span th:text="${#dates.format(deal.getDateCreated(), 'dd-MM-yyyy')}"></span>
            </p>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
