<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deal Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <h1>Deal Details</h1>

    <!-- Deal Information -->
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Deal Information</h5>
            <p><strong>Deal ID:</strong> <span id="deal-id" th:text="${deal.dealId}"></span></p>
            <p><strong>Name:</strong> <span th:text="${deal.name}"></span></p>
            <p><strong>Amount:</strong> <span th:text="${deal.amount}"></span></p>
            <p><strong>Status:</strong> <span th:text="${deal.status}"></span></p>
            <p><strong>Date Created:</strong> <span
                    th:text="${#dates.format(deal.dateCreated, 'dd-MM-yyyy HH:mm:ss')}"></span></p>
            <p><strong>Description:</strong> <span th:text="${deal.description}"></span></p>
        </div>
    </div>

    <!-- Seller Information -->
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Seller Information</h5>
            <p><strong>Name:</strong> <span th:text="${deal.seller.name}"></span></p>
            <p><strong>Email:</strong> <span th:text="${deal.seller.email}"></span></p>
            <!-- Add more seller information if needed -->
        </div>
    </div>

    <!-- Buyer Information -->
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Buyer Information</h5>
            <p><strong>Name:</strong> <span th:text="${deal.buyer.name}"></span></p>
            <p><strong>Email:</strong> <span th:text="${deal.buyer.email}"></span></p>
            <!-- Add more buyer information if needed -->
        </div>
    </div>

    <!-- Complaints -->
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Complaints</h5>
            <ul class="list-group">
                <!-- Loop through complaints -->
                <li th:each="complaint : ${complaints}" class="list-group-item">
                    <p><strong>User:</strong> <span th:text="${complaint.fromUser.name}"></span></p>
                    <p><strong>Date:</strong> <span th:text="${#dates.format(complaint.dateCreated, 'dd-MM-yyyy HH:mm:ss')}"></span></p>
                    <p><strong>Description:</strong> <span th:text="${complaint.description}"></span></p>

                    <!-- Loop through files associated with the complaint -->
                    <div th:each="file : ${complaint.getComplaintFiles()}">
                        <div th:if="${file.getFileInfo() != null}">
                            <div th:if="${file.getFileInfo().getType() != null}">
                                <div th:if="${#strings.endsWith(file.getFileInfo().getType(), 'png') || #strings.endsWith(file.getFileInfo().getType(), 'jpg') || #strings.endsWith(file.getFileInfo().getType(), 'jpeg')}">
                                    <img th:src="'https://safedeals.hb.ru-msk.vkcs.cloud/' + ${file.getFileInfo().getStorageFileName()}" alt="Image" class="img-fluid">
                                </div>
                                <div th:if="${#strings.endsWith(file.getFileInfo().getType(), 'pdf')}">
                                    <object th:data="'https://safedeals.hb.ru-msk.vkcs.cloud/' + ${file.getFileInfo().getStorageFileName()}" type="application/pdf" width="100%" height="500px">
                                        <p>It appears you don't have a PDF plugin for this browser. No biggie... you can <a th:href="'https://safedeals.hb.ru-msk.vkcs.cloud/' + ${file.getFileInfo().getStorageFileName()}">click here to download the PDF file.</a></p>
                                    </object>
                                </div>
                                <div th:if="${#strings.endsWith(file.getFileInfo().getType(), 'mp4')}">
                                    <video controls th:src="'https://safedeals.hb.ru-msk.vkcs.cloud/' + ${file.getFileInfo().getStorageFileName()}" width="100%"></video>
                                </div>
                                <div th:if="${#strings.endsWith(file.getFileInfo().getType(), 'mp3')}">
                                    <audio controls th:src="'https://safedeals.hb.ru-msk.vkcs.cloud/' + ${file.getFileInfo().getStorageFileName()}"></audio>
                                </div>
                                <div th:if="${!#strings.endsWith(file.getFileInfo().getType(), 'png') && !#strings.endsWith(file.getFileInfo().getType(), 'jpg') && !#strings.endsWith(file.getFileInfo().getType(), 'jpeg') && !#strings.endsWith(file.getFileInfo().getType(), 'pdf') && !#strings.endsWith(file.getFileInfo().getType(), 'mp4') && !#strings.endsWith(file.getFileInfo().getType(), 'mp3')}">
                                    <a th:href="'https://safedeals.hb.ru-msk.vkcs.cloud/' + ${file.getFileInfo().getStorageFileName()}" th:text="${file.getFileInfo().getStorageFileName()}" download></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- Button for refund -->
    <button type="button" class="btn btn-primary mt-4" data-toggle="modal" data-target="#refundModal">
        Refund Funds
    </button>

    <div class="modal fade" id="refundModal" tabindex="-1" role="dialog" aria-labelledby="refundModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="refundModalLabel">Refund Funds</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="refundForm">
                        <div class="form-group">
                            <label for="buyerRefund">Buyer Refund Amount:</label>
                            <input type="number" class="form-control" id="buyerRefund" name="buyerRefund" min="0">
                        </div>
                        <div class="form-group">
                            <label for="sellerRefund">Seller Refund Amount:</label>
                            <input type="number" class="form-control" id="sellerRefund" name="sellerRefund" min="0">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveChangesBtn">Refund</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        $('#saveChangesBtn').click(function () {
            var buyerRefund = parseFloat($('#buyerRefund').val());
            var sellerRefund = parseFloat($('#sellerRefund').val());

            // Check for valid refund amounts
            if (isNaN(buyerRefund) || isNaN(sellerRefund) || buyerRefund < 0 || sellerRefund < 0) {
                alert('Please enter valid refund amounts');
                return;
            }

            // Get dealId value from the "deal-id" element
            var dealId = document.getElementById("deal-id").textContent;

            // Convert dealId value to Long type
            var dealIdLong = Number(dealId);

            // Check if the conversion was successful
            if (isNaN(dealIdLong)) {
                alert('Invalid deal ID');
                return;
            }

            // Send data to server for processing
            $.ajax({
                url: '/admin/refund-funds',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    dealId: dealIdLong,
                    buyerRefund: buyerRefund,
                    sellerRefund: sellerRefund
                }),
                success: function (response) {
                    // Перенаправляем страницу на нужный URL
                    window.location.href = '/admin/complaint-deals';
                },
                error: function () {
                    // Обработка ошибки при возврате средств
                    alert('Error occurred while refunding funds');
                }
            });
        });
    });

</script>


</body>
</html>
