<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave a Review</title>
    <!-- Подключаем стили Bootstrap для красивого оформления -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Подключаем скрипт jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            padding-top: 50px;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
        }

        h1 {
            color: #007bff;
            font-size: 36px;
            font-weight: bold;
            margin-bottom: 30px;
            text-align: center;
        }

        .form-group {
            margin-bottom: 20px;
        }

        label.star {
            display: inline-block;
            font-size: 30px;
            color: #ffc107; /* Цвет активной звезды */
            cursor: pointer;
            opacity: 0.5; /* Делаем звезды полупрозрачными */
        }

        .form-group .star.selected {
            opacity: 1; /* Делаем выбранные звезды непрозрачными */
        }

        .btn-primary {
            font-weight: bold;
            background-color: #007bff;
            border-color: #007bff;
            width: 100%;
        }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }

        .text-danger {
            color: #dc3545;
        }

        /* Стили для радиокнопок */
        .rating-container {
            text-align: center;
            margin-bottom: 20px;
        }

        .rating-container input[type="radio"] {
            display: none; /* Скрываем радиокнопки */
        }

    </style>
</head>
<body>
<div class="container">
    <h1>Leave a Review</h1>
    <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
        <p th:text="${errorMessage}"></p>
    </div>
    <!-- Форма для оставления отзыва -->
    <form method="post" action="/leave-review" id="reviewForm">
        <!-- Скрытые поля для передачи данных -->
        <input type="hidden" th:name="dealId" th:value="${reviewDto.dealId}" />
        <!-- Подпись перед выбором рейтинга -->
        <p>Please rate your experience with the other user:</p>
        <!-- Рейтинг -->
        <div class="form-group">
            <div class="rating-container">
                <input type="radio" id="rating1" name="rating" value="1">
                <label for="rating1" class="star">&#9733;</label>
                <input type="radio" id="rating2" name="rating" value="2">
                <label for="rating2" class="star">&#9733;</label>
                <input type="radio" id="rating3" name="rating" value="3">
                <label for="rating3" class="star">&#9733;</label>
                <input type="radio" id="rating4" name="rating" value="4">
                <label for="rating4" class="star">&#9733;</label>
                <input type="radio" id="rating5" name="rating" value="5">
                <label for="rating5" class="star">&#9733;</label>
            </div>
            <!-- Отображение сообщения об ошибке -->
            <div id="ratingError" class="text-danger"></div>
        </div>
        <!-- Поле для ввода сообщения -->
        <div class="form-group">
            <label for="message">Message:</label>
            <textarea class="form-control" id="message" name="message" rows="3" required></textarea>
            <!-- Отображение сообщения об ошибке -->
            <div id="messageError" class="text-danger"></div>
        </div>
        <!-- Кнопка для отправки формы -->
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<!-- Скрипт для валидации полей формы -->
<script>
    $(document).ready(function() {
        // Обработчик клика на звезду
        $('.star').click(function() {
            // Устанавливаем значение рейтинга в соответствии с выбранной звездой
            $(this).nextAll().addBack().find('input[type="radio"]').prop('checked', true);
            // Удаляем класс, который делает все звезды непрозрачными
            $('.star').removeClass('selected');
            // Находим выбранную звезду и все предыдущие звезды
            $(this).prevAll().addBack().addClass('selected');
        });

        // Обработчик отправки формы
        $('#reviewForm').submit(function(event) {
            // Проверка валидности поля "Rating"
            var rating = $('input[name="rating"]:checked').val();
            if (rating === undefined) {
                $('#ratingError').text('Please select a rating');
                event.preventDefault(); // Предотвращаем отправку формы
            } else {
                $('#ratingError').text('');
            }
            // Проверка валидности поля "Message"
            var message = $('#message').val();
            if (message.trim() === '') {
                $('#messageError').text('Please enter a message');
                event.preventDefault(); // Предотвращаем отправку формы
            } else {
                $('#messageError').text('');
            }
        });
    });
</script>
</body>
</html>
