<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Information</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 0;
        }

        .user-info-container {
            margin-top: 20px;
        }

        .user-info-container h1 {
            color: #007bff;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .user-info-container p {
            color: #6c757d;
            font-size: 18px;
            margin-bottom: 10px;
        }

        .user-info-container .user-details {
            margin-bottom: 20px;
        }

        .user-info-container .user-details span {
            font-weight: bold;
        }

        .user-info-container .ratings {
            margin-top: 20px;
            padding: 15px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .user-info-container .ratings h3 {
            margin-top: 0;
            color: #333;
        }

        .user-info-container .rating-item {
            font-size: 18px;
            color: #333;
            margin-bottom: 10px;
        }

        .user-info-container .rating-item span {
            color: #007bff;
            font-weight: bold;
        }

        .user-info-container .reviews {
            margin-top: 30px;
        }

        .user-info-container .review {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 15px;
            margin-bottom: 15px;
            background-color: #fff;
            position: relative;
        }

        .user-info-container .review h4 {
            margin-top: 0;
            color: #007bff;
            font-weight: bold;
        }

        .user-info-container .review .review-author,
        .user-info-container .review .review-author-rating,
        .user-info-container .review .review-system-rating,
        .user-info-container .review .review-rating,
        .user-info-container .review .review-date {
            font-size: 16px;
            color: #333;
        }

        .user-info-container .review .review-author {
            font-weight: bold;
            color: #007bff;
        }

        .user-info-container .review .review-message {
            font-style: italic;
            color: #6c757d;
        }

        .user-info-container .review .review-author-rating,
        .user-info-container .review .review-system-rating {
            color: #ffc107;
            font-weight: bold;
        }

        .user-info-container .review .review-rating {
            position: absolute;
            top: 15px;
            right: 15px;
            font-size: 16px;
            color: #333;
            display: flex;
            align-items: center;
        }

        .user-info-container .review .review-date {
            font-size: 14px;
            color: #6c757d;
        }

        .star-rating {
            color: #ffc107;
            margin-left: 5px;
        }
    </style>
</head>
<body>
<div th:replace="@{~/navbar.html}"></div>
<div class="container user-info-container">
    <h1>User Information</h1>
    <div class="user-details">
        <p><span>First Name:</span> <span th:text="${user.getFirstName()}"></span></p>
        <p><span>Last Name:</span> <span th:text="${user.lastName}"></span></p>
        <p><span>Email:</span> <span th:text="${user.email}"></span></p>
        <p><span>Phone Number:</span> <span th:text="${user.phoneNumber}"></span></p>
        <p><span>Successful Deals:</span> <span th:text="${user.successfulDeals}"></span></p>
        <p><span>Total Deals:</span> <span th:text="${user.totalDeals}"></span></p>
        <p><span>Total Feedbacks:</span> <span th:text="${user.totalFeedbacks}"></span></p>
        <p><span>Registration Date:</span> <span th:text="${#dates.format(user.registrationDate, 'dd-MM-yyyy')}"></span></p>
    </div>
    <div class="ratings">
        <h3>User Ratings</h3>
        <div class="rating-item">
            <span>Average User Rating:</span> <span th:text="${user.averageUserRating} + ' out of 5'"></span>
        </div>
        <div class="rating-item">
            <span>System Rating:</span> <span th:text="${user.systemRating} + ' out of 100'"></span>
        </div>
    </div>

    <div class="reviews">
        <h2>Reviews</h2>
        <div th:each="review : ${user.getReviews()}" class="review">
            <h4 th:text="${review.getDeal().getName()}">Review Title</h4>
            <div class="review-author">
                <span>From:</span> <span th:text="${review.getFromUser().getName()} + ' ' + ${review.getFromUser().getLastName()}"></span>
                <span class="review-author-rating">
                    <span>User Rating:</span> <span th:text="${review.getFromUser().getUserStatistics().getAverageUserRating()}"></span>
                </span>
                <span class="review-system-rating">
                    <span>System Rating:</span> <span th:text="${review.getFromUser().getUserStatistics().getSystemRating()}"></span>
                </span>
            </div>
            <p class="review-message">
                <span>Message:</span> <span th:text="${review.getMessage()}"></span>
            </p>
            <div class="review-rating">
                <span>Rating:</span>
                <div class="star-rating">
                    <i class="fas fa-star" th:each="i : ${#numbers.sequence(1, review.getRating())}"></i>
                </div>
            </div>
            <p class="review-date">
                <span>Date:</span> <span th:text="${#dates.format(review.getDateCreated(), 'dd-MM-yyyy')}"></span>
            </p>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
