<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <style>
    body {
      background-color: #f8f9fa;
    }
    .containers {
      background-color: #ffffff;
      padding: 40px;
      border-radius: 8px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      max-width: 600px;
      margin: 50px auto;
    }
    .avatar {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      object-fit: cover;
      margin: 0 auto;
    }
    .profile-info {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 40px;
    }
    .rating-value {
      font-size: 36px;
      color: #28a745;
      font-weight: bold;
    }
    .link-button {
      display: inline-block;
      padding: 10px 20px;
      border-radius: 5px;
      background-color: #007bff;
      color: #ffffff;
      text-decoration: none;
      transition: background-color 0.3s ease-in-out;
    }
    .link-button:hover {
      background-color: #0056b3;
    }
  </style>
</head>
<body>
<div th:replace="@{~/navbar.html}"></div>
<div class="containers">
  <h1 class="text-center">User Profile</h1>
  <div id="profile">
    <div class="profile-info">
      <p><strong>First Name:</strong> <span th:text="${profileDto.firstName}"></span></p>
      <p><strong>Last Name:</strong> <span th:text="${profileDto.lastName}"></span></p>
      <p><strong>Email:</strong> <span th:text="${profileDto.email}"></span></p>
      <p><strong>Phone Number:</strong> <span th:text="${profileDto.phoneNumber}"></span></p>
      <p><strong>Successful Deals:</strong> <span th:text="${profileDto.successfulDeals}"></span></p>
      <p><strong>Total Feedbacks:</strong> <span th:text="${profileDto.totalFeedbacks}"></span></p>
      <p><strong>Average User Rating:</strong> <span th:text="${profileDto.averageUserRating}"></span></p>
      <p><strong>System Rating:</strong> <span th:text="${profileDto.systemRating + '%'}"></span></p>
    </div>
  </div>
</div>


</body>
</html>
