.navbar {
    background-color: #007bff;
}

.navbar-brand {
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-nav .nav-item .nav-link {
    color: #fff;
}

.container {
    padding-top: 1px;
}

.fade-out {
    animation: fadeOut 1s ease-out;
}

.last-nav-item {
    min-width: 4rem;
}
