<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 0;
        }

        html {
            width: 99vw;
        }

        .container {
            padding-top: 1px;
        }

        h1 {
            color: #007bff;
            font-weight: bold;
            font-size: 36px;
            margin-bottom: 20px;
        }

        p {
            color: #6c757d;
            font-size: 18px;
            margin-bottom: 20px;
        }

        .create-deal-button {
            background-color: #28a745;
            color: whitesmoke;
            padding: 12px 30px;
            border: none;
            border-radius: 5px;
            font-size: 18px;
            cursor: pointer;
            transition: background-color 0.3s;
            text-decoration: none;
            margin-right: 10px;
        }

        .create-deal-button:hover {
            background-color: #218838;
        }

        .active-deals {
            font-size: 18px;
            font-weight: bold;
            color: #343a40;
            margin-top: 30px;
        }

        .active-deals ul {
            list-style: none;
            padding-left: 0;
        }

        .active-deals li {
            margin-bottom: 15px;
        }

        .active-deals a {
            color: whitesmoke;
            text-decoration: none;
            font-weight: bold;
        }

        .active-deals a:hover {
            color: lightgoldenrodyellow;
        }

        .deal-card {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 15px;
            margin-bottom: 15px;
        }

        .deal-card h3 {
            margin-top: 0;
        }

        #message {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 9999;
            display: none;
        }

        @keyframes fadeOut {
            from {
                opacity: 1;
            }
            to {
                opacity: 0;
            }
        }

        .custom-btn {
            background-color: #28a745;
            color: wheat;
            border-color: gold;
        }
    </style>
</head>
<body>
<div th:include="navbar.html"></div>
<div id="message" class="alert alert-success">
    <p id="messageText"></p>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('message')) {
            var message = decodeURIComponent(urlParams.get('message'));
            document.getElementById("messageText").innerText = message;
            document.getElementById("message").style.display = "block";
            window.history.replaceState({}, document.title, window.location.pathname);
            setTimeout(function () {
                document.getElementById("message").classList.add("fade-out");
                setTimeout(function () {
                    document.getElementById("message").style.display = "none";
                }, 1000);
            }, 2000);
        }
    });
</script>

<div class="container" style="margin-top: 20px;">
    <h1>Welcome to Safe Deals Platform</h1>
    <p>Hello, <span th:text="${#authentication.principal.name}"></span> <span th:text="${#authentication.principal.lastName}"></span></p>
    <p>Your balance: $<span th:text="${user.balance}"></span></p>
    <a href="/create-deal" class="create-deal-button">Create New Deal</a>

    <a href="#" class="create-deal-button" data-toggle="modal" data-target="#topUpModal">Top Up Balance</a>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#searchUserModal">
        Search User
    </button>

    <div class="modal fade" id="searchUserModal" tabindex="-1" role="dialog" aria-labelledby="searchUserModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="searchUserModalLabel">Search User by Phone Number</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="searchUserForm" action="/user/search" method="get">
                        <div class="form-group">
                            <label for="phoneNumber">Phone Number:</label>
                            <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="active-deals">
        <p>Active Deals:</p>
        <div th:each="deal : ${activeDeals}" class="deal-card" th:if="${deal.status.name() == 'NEW' || deal.status.name() == 'IN_PROGRESS' || deal.status.name() == 'COMPLAINT'}">
            <h3 th:text="${deal.name}"></h3>
            <p>Amount: $<span th:text="${deal.amount}"></span></p>
            <p>Status: <span th:text="${deal.status}"></span></p>
            <p>Date Created: <span th:text="${#dates.format(deal.dateCreated, 'dd-MM-yyyy HH:mm:ss')}"></span></p>
            <p>Role:
                <span th:if="${deal.seller.getUser_id() == user.getUser_id()}">Seller</span>
                <span th:if="${deal.buyer.getUser_id() == user.getUser_id()}">Buyer</span>
            </p>
            <a th:href="@{'/view-deal/' + ${deal.dealId}}" class="btn btn-primary custom-btn">View Deal</a>
        </div>
    </div>

    <div class="active-deals">
        <p>Deals Awaiting Your Review:</p>
        <div th:each="deal : ${awaitingReviewDeals}" class="deal-card">
            <h3 th:text="${deal.name}"></h3>
            <p>Amount: $<span th:text="${deal.amount}"></span></p>
            <p>Status: <span th:text="${deal.status}"></span></p>
            <p>Date Created: <span th:text="${#dates.format(deal.dateCreated, 'dd-MM-yyyy HH:mm:ss')}"></span></p>
            <p>Role:
                <span th:if="${deal.seller.getUser_id() == user.getUser_id()}">Seller</span>
                <span th:if="${deal.buyer.getUser_id() == user.getUser_id()}">Buyer</span>
            </p>
            <a th:href="@{'/leave-review?dealId=' + ${deal.dealId}}" class="btn btn-primary custom-btn">Leave Review</a>
        </div>
    </div>
</div>

<div class="modal fade" id="topUpModal" tabindex="-1" role="dialog" aria-labelledby="topUpModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="topUpModalLabel">Top Up Balance</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/user/top-up-balance" method="post">
                    <div class="form-group">
                        <label for="amount">Enter amount:</label>
                        <input type="number" class="form-control" id="amount" name="amount" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
