<nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top navbar-default">
    <div class="container">
        <a class="navbar-brand" href="#">Safe Deals Platform</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/transaction-history">Transaction History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/archived-deals">Archived Deals</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item last-nav-item">
                    <a class="nav-link" href="/logout" id="logoutLink"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var currentUrl = window.location.pathname;
        var logoutLink = document.getElementById("logoutLink");

        if (currentUrl === "/main") {
            logoutLink.innerHTML = "Logout";
            logoutLink.setAttribute("href", "/logout");
        } else {
            logoutLink.innerHTML = "Home";
            logoutLink.setAttribute("href", "/main");
        }
    });
</script>

</body>
</html>
