<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Complaint</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Add your custom styles here */
    </style>
</head>
<body>

<div class="container">
    <h1>Create Complaint</h1>
    <p>Deal Name: <span th:text="${deal.name}"></span></p>
    <p>Deal Amount: $<span th:text="${deal.amount}"></span></p>
    <div class="user-info" th:if="${deal.seller.getUser_id() == user.getUser_id()}">
        <p><strong>User Information:</strong></p>
        <p>Name: <span th:text="${deal.buyer.name  + ' ' + deal.buyer.lastName}"></span></p>
        <p>Email: <span th:text="${deal.buyer.email}"></span></p>
    </div>
    <div class="user-info" th:if="${deal.buyer.getUser_id() == user.getUser_id()}">
        <p><strong>User Information:</strong></p>
        <p>Name: <span th:text="${deal.seller.name + ' ' + deal.seller.lastName}"></span></p>
        <p>Email: <span th:text="${deal.seller.email}"></span></p>
    </div>
    <p>Description deal:<span th:text="${deal.description}"></span></p>
    <form th:action="@{/create-complaint(dealId=${dealId})}" method="post"  enctype="multipart/form-data">
        <input type="hidden" name="dealId" th:value="${deal.dealId}">
        <div class="form-group">
            <label for="descriptionComplaint">Description complaint:</label>
            <textarea class="form-control" id="descriptionComplaint" name="descriptionComplaint" rows="5" required></textarea>
        </div>
        <div class="form-group">
            <label for="files">Attach file:</label>
            <input type="file" class="form-control-file" id="files" name="files" multiple>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

</body>
</html>
