<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Archived Deals</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/navbar.css">

  <style>
    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: #f8f9fa;
      margin: 0;
      padding: 0;
    }


    /*.container {*/
    /*  padding-top: 50px;*/
    /*}*/

    h1 {
      color: #007bff;
      font-weight: bold;
      font-size: 36px;
      margin-bottom: 20px;
    }

    p {
      color: #6c757d;
      font-size: 18px;
      margin-bottom: 20px;
    }



    .deal-card h3 {
      margin-top: 0;
    }

    .deal-card p {
      margin-bottom: 5px;
    }



  </style>
</head>
<body>
<div th:replace="@{~/navbar.html}"></div>

<div class="container">
  <h1>Archived Deals</h1>
  <table class="table">
    <thead>
    <tr>
      <th>Seller</th>
      <th>Buyer</th>
      <th>Name</th>
      <th>Amount</th>
      <th>Status</th>
      <th>Date Created</th>
      <th>Description</th>
      <!-- Add more headers if needed -->
    </tr>
    </thead>
    <tbody>
    <tr th:each="deal : ${archivedDeals}">
      <td th:text="${deal.seller.name}"></td>
      <td th:text="${deal.buyer.name}"></td>
      <td th:text="${deal.name}"></td>
      <td th:text="${deal.amount}"></td>
      <td th:text="${deal.status}"></td>
      <td th:text="${#dates.format(deal.dateCreated, 'dd-MM-yyyy HH:mm:ss')}"></td>
      <td th:text="${deal.description}"></td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>
