<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Deal</title>
    <!-- Подключаем стили Bootstrap для красивого оформления -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Подключаем скрипт jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            padding-top: 50px;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
        }

        h1 {
            color: #007bff;
            font-size: 36px;
            font-weight: bold;
            margin-bottom: 30px;
            text-align: center;
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            font-weight: bold;
            color: #495057;
        }

        .btn-primary {
            font-weight: bold;
            background-color: #007bff;
            border-color: #007bff;
            width: 100%;
        }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }

        .text-danger {
            color: #dc3545;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Create New Deal</h1>
    <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
        <p th:text="${errorMessage}"></p>
    </div>
    <!-- Форма для создания новой сделки -->
    <form method="post" action="/create-deal" id="dealForm">
        <!-- Поле для ввода номера телефона продавца -->
        <div class="form-group">
            <label for="sellerPhoneNumber">Seller Phone Number:</label>
            <input type="text" class="form-control" id="sellerPhoneNumber" name="sellerPhoneNumber" required>
            <!-- Отображение сообщения об ошибке -->
            <div id="sellerPhoneNumberError" class="text-danger"></div>
        </div>
        <!-- Поле для ввода имени сделки -->
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" required>
            <!-- Отображение сообщения об ошибке -->
            <div id="nameError" class="text-danger"></div>
        </div>
        <!-- Поле для ввода суммы сделки -->
        <div class="form-group">
            <label for="amount">Amount:</label>
            <input type="number" step="0.01" class="form-control" id="amount" name="amount" required>
            <!-- Отображение сообщения об ошибке -->
            <div id="amountError" class="text-danger"></div>
        </div>
        <!-- Поле для ввода описания сделки -->
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
            <!-- Отображение сообщения об ошибке -->
            <div id="descriptionError" class="text-danger"></div>
        </div>
        <!-- Кнопка для отправки формы -->
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<!-- Скрипт для валидации полей формы -->
<script>
    $(document).ready(function() {
        // Обработчик отправки формы
        $('#dealForm').submit(function(event) {
            // Проверка валидности поля "Seller Phone Number"
            var sellerPhoneNumber = $('#sellerPhoneNumber').val();
            if (!/^8\d{10}$/.test(sellerPhoneNumber)) {
                $('#sellerPhoneNumberError').text('Invalid phone number');
                event.preventDefault(); // Предотвращаем отправку формы
            } else {
                $('#sellerPhoneNumberError').text('');
            }
            // Проверка валидности поля "Name"
            var name = $('#name').val();
            if (name.trim() === '') {
                $('#nameError').text('Name cannot be empty');
                event.preventDefault(); // Предотвращаем отправку формы
            } else {
                $('#nameError').text('');
            }
            // Проверка валидности поля "Amount"
            var amount = parseFloat($('#amount').val());
            if (isNaN(amount) || amount <= 0) {
                $('#amountError').text('Amount must be a positive number');
                event.preventDefault(); // Предотвращаем отправку формы
            } else {
                $('#amountError').text('');
            }
            // Проверка валидности поля "Description"
            var description = $('#description').val();
            if (description.trim() === '') {
                $('#descriptionError').text('Description cannot be empty');
                event.preventDefault(); // Предотвращаем отправку формы
            } else {
                $('#descriptionError').text('');
            }
        });
    });
</script>
</body>
</html>
