<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Deal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 0;
        }

        html {
            width: 100vw;
        }



        .container {
            padding-top: 1px;
        }

        h1 {
            color: #007bff;
            font-weight: bold;
            font-size: 36px;
            margin-bottom: 20px;
        }

        h3 {
            color: #343a40;
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        p {
            color: #6c757d;
            font-size: 18px;
            margin-bottom: 15px;
        }

        .btn-primary, .btn-danger {
            font-size: 18px;
            font-weight: bold;
            margin-top: 20px;
        }

        .seller-role i, .buyer-role i {
            margin-right: 5px;
        }


        .user-info {
            margin-top: 20px;
        }

        .user-info p {
            margin-bottom: 5px;
        }

        .content {
            margin-left: 0;
            margin-right: 0;
            text-align: left;
        }

    </style>
</head>
<body>
<div th:replace="@{~/navbar.html}"></div>
<div class="container content">
    <h3 th:text="${deal.name}"></h3>
    <p>Amount: $<span th:text="${deal.amount}"></span></p>
    <p>Status: <span th:text="${deal.status}"></span></p>
    <p>Date Created: <span th:text="${#dates.format(deal.dateCreated, 'dd-MM-yyyy HH:mm:ss')}"></span></p>
    <div>
        <p th:if="${deal.seller.getUser_id() == user.getUser_id()}" class="seller-role"><i class="fas fa-user"></i>
            Role: Seller</p>
        <p th:if="${deal.buyer.getUser_id() == user.getUser_id()}" class="buyer-role"><i class="fas fa-user"></i> Role:
            Buyer</p>
    </div>
    <div class="user-info" th:if="${deal.seller.getUser_id() == user.getUser_id()}">
        <p><strong>User Information:</strong></p>
        <p>Name: <span th:text="${deal.buyer.name  + ' ' + deal.buyer.lastName}"></span></p>
        <p>Email: <span th:text="${deal.buyer.email}"></span></p>
    </div>
    <div class="user-info" th:if="${deal.buyer.getUser_id() == user.getUser_id()}">
        <p><strong>User Information:</strong></p>
        <p>Name: <span th:text="${deal.seller.name + ' ' + deal.seller.lastName}"></span></p>
        <p>Email: <span th:text="${deal.seller.email}"></span></p>
    </div>
    <p>Description:<span th:text="${deal.description}"></span></p>

    <div th:if="${deal.seller.getUser_id() == user.getUser_id() && deal.status.name() == 'NEW'}">
        <form th:action="@{/confirm-deal/{dealId}(dealId=${deal.dealId})}" method="post" id="confirmDealForm">
            <input type="hidden" name="confirmation" value="true">
            <button type="button" class="btn btn-primary" onclick="confirmAction('Confirm Deal', 'confirmDealForm')">
                Confirm Deal
            </button>
        </form>
        <form th:action="@{/confirm-deal/{dealId}(dealId=${deal.dealId})}" method="post" id="declineDealForm">
            <input type="hidden" name="confirmation" value="false">
            <button type="button" class="btn btn-danger" onclick="confirmAction('Decline Deal', 'declineDealForm')">
                Decline Deal
            </button>
        </form>
    </div>


    <div th:if="${deal.buyer.getUser_id() == user.getUser_id() && deal.status.name() == 'IN_PROGRESS'}">
        <form th:action="@{/confirm-payment/{dealId}(dealId=${deal.dealId})}" method="post" id="confirmPaymentForm">
            <input type="hidden" name="paymentConfirmation" value="true">
            <button type="button" class="btn btn-primary"
                    onclick="confirmAction('Confirm Payment', 'confirmPaymentForm')">Confirm Payment
            </button>
        </form>
    </div>

    <div th:if="${deal.status.name() == 'IN_PROGRESS' || deal.status.name() == 'COMPLAINT'}">
        <form th:action="@{/send-complaint/{dealId}(dealId=${deal.dealId})}" method="post" id="sendComplaintForm">
            <input type="hidden" name="sendComplaint" value="true">
            <button type="button" class="btn btn-danger"
                    onclick="confirmAction('Send complaint', 'sendComplaintForm')">Send complaint
            </button>
        </form>
    </div>

    <script>
        function confirmAction(action, formId) {
            if (confirm("Are you sure you want to " + action + "?")) {
                document.getElementById(formId).submit();
            }
        }
    </script>
</div>



</body>
</html>
